extends layout

block content
  h1= title

  if users
    ul
      each user in users
        li
          | UserID: #{user.UserID}, Username: #{user.Username}, Email: #{user.Email},
          | FirstName: #{user.FirstName}, LastName: #{user.LastName},
          | DateOfBirth: #{user.DateOfBirth ? user.DateOfBirth.toISOString().split('T')[0] : 'N/A'}
  else
    p There are no users
